.header {
  margin-bottom: 60px;
  font-size: 1rem;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .add-user {
    display: flex;
    align-items: flex-end;
    min-height: 39px;
    gap: 10px;
    .add-user-icon {
      width: 2em;
      height: 2em;
      cursor: pointer;
    }

    .add-user-form {
      display: flex;
      gap: 15px;
      align-items: flex-end;
      div {
        display: flex;
        flex-direction: column;
        gap: 3px;
        h5 {
          font-size: 0.8rem;
        }
      }
      input {
        height: 20px;
        width: 120px;
        padding-left: 5px;
      }
      animation-name: add-user-anim;
      animation-duration: 0.4s;
      @keyframes add-user-anim {
        from {
          opacity: 0;
          transform: translateY(-100px);
          border: none;
        }
        to {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }

  .dropdown {
    .chevron {
      cursor: pointer;
      min-width: 16px;
      min-height: 16px;
    }
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 170px;
    height: 20px;
    position: relative;

    .user-dropdown {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 8px;
      z-index: 1;
    }
    .users-list-container {
      .users-list {
        &::-webkit-scrollbar {
          width: 0.4em;
        }
        &::-webkit-scrollbar-track {
          background-color: rgba(0, 0, 0, 0.25);
          border-radius: 100vw;
          margin-block: 0.2em;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 100vw;
          border: 0.1em solid rgba(0, 0, 0, 0.1);
        }
        &::-webkit-scrollbar-thumb:hover {
          background-color: rgba(0, 0, 0, 0.75);
        }
        padding: 0 5px 0 0;
        z-index: 10;
        position: absolute;
        top: 0;
        max-height: 120px;
        overflow-y: auto;

        .user-list {
          display: flex;
          opacity: 0.7;
          align-items: center;
          gap: 8px;
          padding: 0 0 5px;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            opacity: 1;
            transform: translateX(3px);
          }
        }
        .current-user {
          opacity: 1;
        }
      }
    }
  }
}
