.sidebar {
  width: 190px;
  background-color: rgba(244, 244, 244, 0.5);
  filter: blur(1);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 15px;
  display: grid;
  grid-template-rows: 15% 85%;
  height: 100vh;
  position: fixed;
  button {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  h1,
  h3 {
    color: var(--orange);
  }
  .menu-sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .btns-sidebar {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .groups {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
.group {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  button {
    font-size: 0.8rem;
    font-family: $font1;
  }

  .btns-group {
    .delete-btn-active {
      color: red;
    }
    display: flex;
    align-items: center;
    gap: 3px;
    svg {
      height: 0.8rem;
      width: 0.8rem;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
    .author-btns {
      display: flex;
      gap: 3px;
    }
  }
}
.group-list {
  padding-left: 5px;

  button {
    font-size: 0.8rem;
    opacity: 0.75;
    transition: 0.3s;
    &:hover {
      scale: 1.1;
      opacity: 1;
      transform: translateX(10px);
    }
  }
  .current-user {
    font-weight: 600;
  }
  .member-group {
    display: flex;
    gap: 5px;
    svg {
      height: 0.7rem;
      width: 0.7rem;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .delete-active {
    &:hover {
      color: red;
    }
  }
}
